/* HERO 1 SECTION START*/
/* GENERAL STYLES START */
#root {
    background-color:black !important;
    text-align: center; 
}
body {
    background-color:black !important;
    text-align: center;
}
h1 {
    font-family: verdana;
    font-weight: normal;
    font-size: 50px;
    color: white;
    text-align: center; 
}
h4 {
    color: aquamarine;
    font-size: 16px;
    padding: 50px 0;
}
/* GENERAL STYLES END */

/* HERO 1 SECTION  END*/

/* /* HERO 2 SECTION START*/
h2 {
    font-family: verdana;
    font-weight: 300;
    font-size: 42px;
    color: white;
    padding: 50px 0;
}
h6 {
    font-family: verdana;
    font-size: 21px;
    color: gray;
}
/* IMAGE CONTAINER START */
.camp {
    padding: 30px 0;
}
.phone {
    padding-bottom: 50px; 
}
/* IMAGE CONTAINER END */

/* /* HERO 2 SECTION END*/

